# Description: Example of .env file
# Usage: Copy this file to .env and change the values
#        according to your needs
#        Do not commit .env file to git
#        Do not change .env.example file

# Server Name
Server_Name=VendorA-Linux
# VPC_ID
VPC_ID=vpc-0fdb21b2ba43b05e9
# White Ip
WHITE_IP=10.0.2.181/32
